<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= (typeof pageTitle != 'undefined' ? pageTitle : 'Website Title') %>
  </title>
</head>

<body>
  Hello, I am the body content
</body>

</html>